<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">





<div class="upmBlueBg header-tool-schedule">
  <h2>CENTRO DE INFORMÁTICA Y COMUNICACIONES</h2>
  <h4>Herramienta de Creación de Horarios</h4>

  <div class="sch-tool-child">
    <div id="botones-matriz" class="btn-group-vertical" role="group">
      <div ngbDropdown class="buttons-grades sch-tool-child">
        <button mat-flat-button class="btn black bigger btn-white mt-2" id="dropdownBasic1" ngbDropdownToggle>
          <mat-icon class="selects-buttons">school</mat-icon><span class="text-button">{{gradeName}}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[0]);">{{grades[0]}}</button>
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[1]);">{{grades[1]}}</button>
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[2]);">{{grades[2]}}</button>
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[3]);">{{grades[3]}}</button>
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[4]);">{{grades[4]}}</button>
          <button *ngIf="!mobile" ngbDropdownItem (click)="changeGradeName(grades[5]);">{{grades[5]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[0])">{{mobileGrades[0]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[1])">{{mobileGrades[1]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[2])">{{mobileGrades[2]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[3])">{{mobileGrades[3]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[4])">{{mobileGrades[4]}}</button>
          <button *ngIf="mobile" ngbDropdownItem (click)="changeGradeName(mobileGrades[5])">{{mobileGrades[5]}}</button>
        </div>
      </div>
      <div ngbDropdown class="buttons-grades sch-tool-child">
        <button mat-flat-button class="btn black bigger btn-white mt-2" id="dropdownBasic1" ngbDropdownToggle>
          <mat-icon class="selects-buttons">filter_1</mat-icon><span class="text-button">{{courseName}}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="changeCourseName(courses[0])">{{courses[0]}}</button>
          <button ngbDropdownItem (click)="changeCourseName(courses[1])">{{courses[1]}}</button>
          <button ngbDropdownItem (click)="changeCourseName(courses[2])">{{courses[2]}}</button>
          <button ngbDropdownItem (click)="changeCourseName(courses[3])">{{courses[3]}}</button>
        </div>
      </div>
      <div class="reset-buttons sch-tool-child">
        <button class="btn btn-white reset mt-2" matTooltip="Limpiar datos"
          matTooltipPosition="after" aria-label="Limpiar datos"
          (click)="reset()">
          <i class="material-icons reset">
            refresh
          </i>
        </button>
      </div>
    </div>
  </div>
  <div class="float-right dwld-btn">
    <button mat-flat-button color="white" class="black mt-2 dwld-btn" (click)="scheduleStartService.downloadPDF(tabla)">
      <mat-icon class="dwld">cloud_download</mat-icon><span class="text-button">Descargar PDF</span>
    </button>
  </div>
  <div class="card matrix">
    <div class="container-fluid">
        <div *ngIf="scheduleStartService.errorAlert" class="alert alert-danger" id="errorAlert"role="alert">{{scheduleStartService.textAlert}}</div>
      <div class="row">
        
        <!--HORARIO-->
        <div class="col-12 col-lg-8 order-12 order-lg-1">
          <div #tabla>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">####</th>
                  <th scope="col" *ngFor="let dia of dias">{{dia}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let col of scheduleStartService.matrizHorario; let columnas = index">
                  <td>{{horas[columnas]}} - {{horas[columnas] + 1}}</td>
                  <td *ngFor="let row of col; let filas = index">
                    <div *ngIf="!scheduleStartService.matrizCoincidencias[columnas][filas]; else libre">
                      <p *ngFor="let subject of row;let a = index">
                        {{scheduleStartService.matrizHorario[columnas][filas][a].nombre}}:{{scheduleStartService.matrizHorario[columnas][filas][a].grupo}}</p>
                    </div>
                    <ng-template #libre>
                      <div class="red">
                        <p *ngFor="let subject of row;let a = index">
                          {{scheduleStartService.matrizHorario[columnas][filas][a].nombre}}:{{scheduleStartService.matrizHorario[columnas][filas][a].grupo}}</p>
                      </div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--CHECKBOX-->
        <div *ngIf="chargeCheckboxes" class="col-12 col-lg-4 order-1 order-lg-12 checkboxes-div right">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="">###</th>
                <th scope="" *ngFor="let groupName of scheduleStartService.actualCourse;">{{groupName}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="" *ngFor="let col of scheduleStartService.matrizBotones;let asignatura = index">
                <td>{{scheduleStartService.actualSubjects[asignatura]}}</td>
                <td *ngFor="let row of col;let grupo = index">
                  <button mat-icon-button
                    *ngIf="!scheduleStartService.contieneLaAsignatura(scheduleStartService.actualSubjects[asignatura], scheduleStartService.actualCourse[grupo]); else included"
                    matTooltip="Asignatura no disponible">
                    <mat-icon class="red">highlight_off</mat-icon>
                  </button>
                  <ng-template #included>
                    <button mat-icon-button *ngIf="!scheduleStartService.matrizBotonesPulsados[asignatura][grupo];else pulsado"
                      (click)="scheduleStartService.cargarAsignatura(scheduleStartService.actualSubjects[asignatura], scheduleStartService.actualCourse[grupo], asignatura, grupo)">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button>
                  </ng-template>
                  <ng-template #pulsado>
                    <button mat-icon-button>
                      <mat-icon class="upmBlue">check_circle</mat-icon>
                    </button>
                  </ng-template>
                </td>
                <td>
                  <button mat-icon-button class=""
                    (click)="scheduleStartService.botonLimpiarAsignatura(scheduleStartService.actualSubjects[asignatura], asignatura)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top:2px;">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <div class="float-smartphone float-center">
            <button mat-flat-button color="warning" class="white mt-2" (click)="scheduleStartService.downloadPDF(tabla)">
              <mat-icon>cloud_download</mat-icon><span class="text-button">Descargar PDF</span>
            </button>
          </div>
        </div>
        <div class="col-4"></div>
        <div class="col-12">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>calendar_today</mat-icon> <span class="show_schedules">Horarios</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <app-horarios></app-horarios>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #mobileBlock>
  <div #tabla class="col-12 table-responsive">
    <table class=" table table-bordered">
      <thead>
        <tr>
          <th scope="col">####</th>
          <th scope="col" *ngFor="let dia of dias">{{dia}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let col of scheduleStartService.matrizHorario; let columnas = index">
          <td>{{horas[columnas]}} - {{horas[columnas] + 1}}</td>
          <td *ngFor="let row of col; let filas = index">
            <div *ngIf="!scheduleStartService.matrizCoincidencias[columnas][filas]; else libre">
              <p *ngFor="let subject of row;let a = index">
                {{scheduleStartService.matrizHorario[columnas][filas][a].nombre}}:{{scheduleStartService.matrizHorario[columnas][filas][a].grupo}}</p>
            </div>
            <ng-template #libre>
              <div class="red">
                <p *ngFor="let subject of row;let a = index">
                  {{scheduleStartService.matrizHorario[columnas][filas][a].nombre}}:{{scheduleStartService.matrizHorario[columnas][filas][a].grupo}}</p>
              </div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="chargeCheckboxes" class="col-12 table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="">###</th>
          <th scope="" *ngFor="let groupName of scheduleStartService.actualCourse;">{{groupName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" *ngFor="let col of scheduleStartService.matrizBotones;let asignatura = index">
          <td>{{scheduleStartService.actualSubjects[asignatura]}}</td>
          <td *ngFor="let row of col;let grupo = index">
            <button mat-icon-button
              *ngIf="!scheduleStartService.contieneLaAsignatura(scheduleStartService.actualSubjects[asignatura], scheduleStartService.actualCourse[grupo]); else included"
              matTooltip="Asignatura no disponible">
              <mat-icon class="red">highlight_off</mat-icon>
            </button>
            <ng-template #included>
              <button mat-icon-button *ngIf="!scheduleStartService.matrizBotonesPulsados[asignatura][grupo];else pulsado"
                (click)="scheduleStartService.cargarAsignatura(scheduleStartService.actualSubjects[asignatura], scheduleStartService.actualCourse[grupo], asignatura, grupo)">
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </ng-template>
            <ng-template #pulsado>
              <button mat-icon-button>
                <mat-icon class="upmBlue">check_circle</mat-icon>
              </button>
            </ng-template>
          </td>
          <td>
            <button mat-icon-button class="" (click)="scheduleStartService.botonLimpiarAsignatura(scheduleStartService.actualSubjects[asignatura], asignatura)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>