.MainTitle {
    margin-bottom: 0%;
}

.MainTitleCard {
    background-color: lightblue;
    margin-top: 2%;
    margin-bottom: 3%;
}

.mg {
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    background-color: gray;
    border-radius: 10px;
    padding-right: 0%;
    border-right: 0;
}

.bigger {

}

.WholeCard {
    background-color: lightblue;
}

.MainDropdown {
    margin-right: 0%;
}