<div class="container">
  <div class="card MainTitleCard">
    <div class="row">
      <div class="col-sm">
        <h1 class="center MainTitle">CENTRO DE INFORMÁTICA Y COMUNICACIONES</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h3 class="center">Herramienta de Creación de Horarios</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card WholeCard">
        <div class="row">
          <div class="col-sm-3">
            <div ngbDropdown class="d-inline-block mg">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div ngbDropdown class="d-inline-block mg">
              <button class="btn" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>