<div class="d-flex justify-content-center">
  <div class="btn-group mobile-btngroup" role="group">
    <button type="button" class="btn btn-pantone285" *ngFor="let grado of horariosService.grados" (click)="horariosService.setGrado(grado)"
      id="{{grado.slice(0,3)+''+grado.slice(grado.length-3,grado.length-1)}}">{{grado}}</button>
  </div>
</div>

<div *ngIf="horariosService.gradoSel!=null">
  <div class="d-flex justify-content-center marg-tb-20">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-pantone285" *ngFor="let curso of horariosService.cursos"
        id="{{curso}}" (click)="horariosService.setCurso(curso)">{{curso}}</button>
    </div>
  </div>
</div>

<div *ngIf="horariosService.gradoSel!=null && horariosService.cursoSel != null">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12 col-lg-6 col-xl-4 marg-7"
      *ngFor="let grupo of horariosService.grupos">
      <table mat-table [dataSource]="horariosService.gruposStruct[horariosService.grupos.indexOf(grupo)]" class="mat-elevation-z8 t-horarios">
        <ng-container matColumnDef="horas">
          <th class="curso" mat-header-cell *matHeaderCellDef>{{grupo}} </th>
          <td mat-cell *matCellDef="let element" class="horas-cell"> {{element.horas}} </td>
        </ng-container>

        <ng-container matColumnDef="lunes">
          <th mat-header-cell *matHeaderCellDef> Lun </th>
          <td mat-cell *matCellDef="let element"> {{element.lunes}} </td>
        </ng-container>

        <ng-container matColumnDef="martes">
          <th mat-header-cell *matHeaderCellDef> Mar </th>
          <td mat-cell *matCellDef="let element"> {{element.martes}} </td>
        </ng-container>

        <ng-container matColumnDef="miercoles">
          <th mat-header-cell *matHeaderCellDef> Mié </th>
          <td mat-cell *matCellDef="let element"> {{element.miercoles}} </td>
        </ng-container>

        <ng-container matColumnDef="jueves">
          <th mat-header-cell *matHeaderCellDef> Jue </th>
          <td mat-cell *matCellDef="let element"> {{element.jueves}} </td>
        </ng-container>

        <ng-container matColumnDef="viernes">
          <th mat-header-cell *matHeaderCellDef> Vie </th>
          <td mat-cell *matCellDef="let element"> {{element.viernes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>