/* You can add global styles to this file, and also import other style files */
.container {
    margin-right: 10%;
    margin-left: 10%
}
.center {
    text-align: center;
}
.noMargin {
    margin:0%;
}